[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
serving-utils = {editable = true, path = "."}


[dev-packages]
pytest = "*"
"flake8-config-yoctol" = ">=0.0.11"
pytest-asyncio = "*"


[requires]
python_version = "3.6"
